@font-face {
	font-family: "BebasNeue";
	src: url("../fonts/BebasNeue.otf");
	src: url("../fonts/BebasNeue.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Atlas Grotesk Medium";
	src: url("../fonts/AtlasGrotesk-Medium-Web.eot");
	src: url("../fonts/AtlasGrotesk—MediumWeb.eot?#iefix") format("embedded-opentype"),
	url("../fonts/AtlasGrotesk-Medium-Web.woff2") format("woff2"),
	url("../fonts/AtlasGrotesk-Medium-Web.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Atlas Grotesk Thin";
	src: url("../fonts/AtlasGrotesk-Thin-Web.eot");
	src: url("../fonts/AtlasGrotesk-Thin-Web.eot?#iefix") format("embedded-opentype"),
	url("../fonts/AtlasGrotesk-Thin-Web.woff2") format("woff2"),
	url("../fonts/AtlasGrotesk-Thin-Web.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
}

html { 
  overflow-y: auto; 
  overflow-x: hidden;
}
body{
  overflow-x:hidden;
  font-family: "Atlas Grotesk Thin";
  font-weight:  100;
  font-style:   normal;
  font-stretch: normal;
  font-size: 16px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0 !important;
}
::-moz-selection { background: #3fa5bf; }
::selection { background: #3fa5bf; }
:focus {
    outline-color: transparent;
}
a,a:focus, a:hover {
  text-decoration: none;
  color: black;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-right:0;
	padding-left: 0;
}
.row {
    margin-right: auto;
    margin-left: auto;
}
p {
	font-size: 16px;
	line-height: 24px;
}
h2 {
	font-size: 36px;
	line-height: 48px;
}
h3 {
	font-size: 24px;
	line-height: 36px;
}

h4 {
	font-size: 18px;
	line-height: 24px;
}

strong, .title{
	font-family: "Atlas Grotesk Medium";
	font-weight:  100;
	font-style:   normal;
	font-stretch: normal;
}

.btn-general{
    color: white;
    background-color: transparent;
    border-color: white;
    padding: 13px 30px;
    letter-spacing: 0.09em;
}
.btn{
	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-ms-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}
.btn.focus, .btn:focus, .btn:hover {
    color: black;
    background-color: white;
}
.social-links{
    margin: 20px 0;
}
i{
	-webkit-transition: color 0.25s ease-in-out;
  	-moz-transition: color 0.25s ease-in-out;
  	-ms-transition: color 0.25s ease-in-out;
  	-o-transition: color 0.25s ease-in-out;
  	transition: color 0.25s ease-in-out;
}
i:hover{
	color:#868686;
}
.fa{
    font-size: 25px !important;
    margin-right: 10px;
}
/*******MENU STYLES *****/
.navbar-brand{
	padding: 0 15px;
	font-family: "BebasNeue";
    font-size: 40px;
    line-height: 1.9;
    color: black;
    letter-spacing: 0.12em;
}
.navbar-default .navbar-brand{	
    color: black;
}
.navbar-default{
	background-color: white;
	border-color: white;
	margin: 30px 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
	color:#000000;
}
#menu ul li a{
	text-transform: uppercase;
	letter-spacing: .75px;
}
.logo{
	width: 200px;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
}
.navbar-default .navbar-collapse{
    margin-top: 20px;
}

/*******CONTENTS GENERAL STYLES *****/
#contents{
	//background-color: #F2F2F2;
}
.page-title{
    margin: 45px 0 60px;
}
/*******HOME STYLES *****/
.intro-page{
    text-align: center;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden !important;    
    background-position-y: 40%;
}

.intro-page .col-sm-6{
	position: relative;
    height: 100vh;
}
.intro-page .intro-content{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
}
.intro-logo{
	width: 100%;
    font-size: 75px;
    font-family: "BebasNeue";    
    text-align: center;
    display: inline-block;
    color:white;
    line-height: 1.5;
    letter-spacing: 0.12em;
}
.intro-page .social-links{
	position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.intro-page .social-links i.fa{
	color:white;
}
.intro-page .social-links i:hover{
	color:#868686;
}
.btn-general:nth-of-type(1){
	margin-right: 10px;
}
ul.dashed {
	list-style-type: none;
    padding: 0;
}
ul.dashed > li:before {
	content: body.archive-body.archive;
	padding-right: 5px;
}

.slick-next {
    right: 0;
}
.slick-prev {
    left: 0;
}

/*******ABOUT STYLES *****/
.intro-about{
	margin: 0px 0 100px;
	line-height: 1.5;
}
/*******PROJECT STYLES *****/
.slick-slide img {
    display: block;
    width: 100%;
}
.slick-slider{
    margin:40px auto;
}
.slick-dots {
    bottom: -40px;
}
.slick-next {
    right: 0;
}
.slick-prev {
    left: 0;
}
.project-slider-for .project div{
	position: relative;
}

.project-slider-for .project div:after, .project-slider-for .project div:before {
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s ease-out;
}

.project-slider-for .project div:after {
	content: '\A';
    width: 94%;
    height: 68%;
    top: 4%;
    left: 3%;
	background: rgba(0, 0, 0,1);
}

.project-slider-for .project div:before {
	content: 'VIEW';
	width: 100%;
	color: white;
	z-index: 1;
	bottom: 25%;
	padding: 4px 10px;
	text-align: center;
	background: transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 25px;
}

.project-slider-for .project div:hover:after, .project-slider-for .project div:hover:before {
	opacity: 1;
}

.project-slider-for .project div:hover:before {
	bottom: 55%;
}

/*******CONTACT STYLES *****/
.contact-info{
	margin-top: 10px;
}
.margin0{
	margin: 0px;
}

/*******FOOTER STYLES *****/

footer{
	background-color: white;
	margin: 100px 0 50px 0;
}

footer .social-links{
    text-align: right;
    margin: 7px auto;
}
@media only screen and (min-width: 768px) {
	.img-right{
		float: right;
	}
}
@media only screen and (max-width: 767px) {
	.img-left,.img-right{
		padding: 0;
	}
	.expertise-photo {
	    position: relative;
	    width: 300px;
	    margin: 0 auto;
	}
	.page-title {
	    margin: 45px 0 30px;
	}
	a.btn.btn-general {
	    display: block;
	    margin: 15px auto;
	    width: 210px;
	}
	.intro-logo{
	    line-height: 0.9;
	}
}

/* IE STYLES */

.intro-page.ie{
    text-align: center;
    background-image: none;
    background-size: cover;
    background-color: gray;
}
.intro-page.ie > *{
    color:white;
}

