<div class="container menu-page">
	<h1 class="page-title">About Me</h1>
	<h3 class="intro-about">To develop a professional career as a web developer, Java developer, certified Scrum Master, rails developer, front-end developer. Web developer with excellent relationships and good communication skills. I am responsible with my work, proactive and open to learning new subjects. I'm always focus on achieving objectives set by my duties and I have a thoughtful commitment to improve in my personal and company goals.</h3>
	<div class="expertise">
		<div class="row member">
			<div class="col-sm-4 col-md-4 img-left">
			</div>
		</div>
	</div>
</div>