<div class="container menu-page">
	<h1 class="page-title">Contact</h1>
	<div class="row">
		<h3>Leslie Restrepo </h3>
		<a href="tel:+971505890320">T: +971 50 589 0320</a><br>		
		<a href="mailto:info@leslierestrepo.com">info@leslierestrepo.com</a>
		<div class="social-links">
			<a href="https://github.com/lesrpo">
              <i class="fa fa-github fa-2" aria-hidden="true"></i>
            </a>
            <a href="https://instagram.com/lesrpo">
              <i class="fa fa-instagram fa-2" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/leslie-restrepo/en">
              <i class="fa fa-linkedin fa-2" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/leslierestrepo">
              <i class="fa fa-facebook fa-2" aria-hidden="true"></i>
            </a>
		</div>
	</div>
</div>