<div class="intro-page">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="intro-content">				
				<p class="intro-logo">LESLIE RESTREPO</p>
		 		<br>
				<a href="/work" class="btn btn-general">VIEW WORK</a>
				<a href="/about" class="btn btn-general">ABOUT ME</a>
			</div>
		</div>
	</div>
	<div class="social-links">
		<a href="https://github.com/lesrpo">
          <i class="fa fa-github fa-2" aria-hidden="true"></i>
        </a>
        <a href="https://instagram.com/lesrpo">
          <i class="fa fa-instagram fa-2" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/leslie-restrepo/en">
          <i class="fa fa-linkedin fa-2" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/leslierestrepo">
          <i class="fa fa-facebook fa-2" aria-hidden="true"></i>
        </a>
	</div>
</div>
