<div class="container menu-page">
	<h1 class="page-title">Projects</h1>
	<div class="project-slider-for">
		<div class="project">
			<p>Shopify store with a classy design, Robe de Voyage is a luxury range of handwoven travel robes and resortwear that are check-in essentials for every getaway.</p>
			<a href="https://www.robedevoyage.com/" target="_blank">
				<div class="col-sm-4 col-sm-offset-4">
					<img src="../../images/robe-example.png" alt="">
				</div>	
			</a>		
		</div>
		<div class="project">
			<p>Shopify store designed by <a href="http://georgedrury.co.uk/" target="_blank">George Drury</a>, 
X-Labeled’s mission is to provide individualistic, purposeful clothing that goes beyond the ordinary, by focusing on designing through concepts of detail, function and cuts. </p>
			<a href="https://x-labeled.com/" target="_blank">
				<div class="col-sm-4 col-sm-offset-4">
					<img src="../../images/x-example.png" alt="">
				</div>
			</a>
		</div>
		<div class="project">
			<p>.Net project, Apero is a Mediterranean restaurant of The Ampersand Hotel.</p>
			<a href="http://www.aperorestaurantandbar.com/" target="_blank">
				<div class="col-sm-4 col-sm-offset-4">
					<img src="../../images/apero-example.png" alt="">
				</div>
			</a>
		</div>		
		<div class="project">
			<p>Workspace site, PRCO is a international communications agency. This is the blog where they share their client experiences.</p>
			<a href="http://blog.prco.com/" target="_blank">
				<div class="col-sm-4 col-sm-offset-4">
					<img src="../../images/blog-prco-example.png" alt="">
				</div>
			</a>
		</div>
		<div class="project">
			<p>Javascript project feeded by Tintup api, The Edit by Six Senses is a shared gallery of joyful moments and experiences enjoyed at Six Senses hotels with the hashtag #outoftheordinary. </p>
			<a href="http://theedit.sixsenses.com/" target="_blank">
				<div class="col-sm-4 col-sm-offset-4">
					<img src="../../images/six-senses-example.png" alt="">
				</div>
			</a>
		</div>
		<div class="project">
			<p>.Net project with AngularJs, designed by <a href="http://georgedrury.co.uk/" target="_blank">George Drury</a>, Profile is a market leader in the hospitality sector and help the clients find the very best available talent in the market. </p>
			<a href="http://www.profile-ts.com/" target="_blank">
				<div class="col-sm-4 col-sm-offset-4">
					<img src="../../images/profile-example.png" alt="">
				</div>
			</a>
		</div>
		<div class="project">
			<p>Squarespace project fully customized, Dudgeon is a London sofa makers.</p>
			<a href="https://www.dudgeonsofas.com/" target="_blank">
				<div class="col-sm-4 col-sm-offset-4">
					<img src="../../images/dudgeon-example.png" alt="">
				</div>
			</a>
		</div>
		<div class="project">
			<p>Squarespace project fully customized, Constellation Aviation is a premium VIP private jet charter service and aircraft management services. </p>
			<a href="http://casl.aero/" target="_blank">
				<div class="col-sm-4 col-sm-offset-4">
					<img src="../../images/constellation-example.png" alt="">
				</div>
			</a>
		</div>
		<div class="project">
			<p>Squarespace project fully customized, Baraboux creates luxury bags that meet the dynamic lifestyle of today’s woman</p>
			<a href="https://www.baraboux.com/" target="_blank">
				<div class="col-sm-4 col-sm-offset-4">
					<img src="../../images/baraboux-example.png" alt="">
				</div>
			</a>
		</div>
	</div>
	<div class="project-slider-nav">
		<div class="project"><img src="../../images/robe-example.png" alt=""></div>
		<div class="project"><img src="../../images/x-example.png" alt=""></div>
		<div class="project"><img src="../../images/apero-example.png" alt=""></div>
		<div class="project"><img src="../../images/blog-prco-example.png" alt=""></div>
		<div class="project"><img src="../../images/six-senses-example.png" alt=""></div>
		<div class="project"><img src="../../images/profile-example.png" alt=""></div>
		<div class="project"><img src="../../images/dudgeon-example.png" alt=""></div>
		<div class="project"><img src="../../images/constellation-example.png" alt=""></div>
		<div class="project"><img src="../../images/baraboux-example.png" alt=""></div>
	</div>
	<!--ul>
		<li>http://www.mayfair500.com/</li>
		<li>http://port.jhadmin.net/</li>
		<li>http://www.lesbordes.com/</li>
		<li>http://www.dubaiaudio.com/</li>
		<li>http://www.skaiholdings.com/</li>
		<li>http://www.watchclub.com/</li>
	</ul-->
</div>