// =============================================
// VARIABLES
// =============================================


$primary-color: #1a1918;
$accent-color: #c59966;
$gray-color:#777777;
$white-color:#cccccc;
$forms-background:#f6f6f6;

$default-font-size:16px;

